name: CI/CD

on:
  push:
    branches: [main]

jobs:
  # ------------------------
  # Backend
  # ------------------------
  backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        working-directory: ./backend
        run: npm install

      - name: Test
        working-directory: ./backend
        run: echo "Backend Tests Done"

  # ------------------------
  # Frontend
  # ------------------------
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        working-directory: ./frontend
        run: npm install

      - name: Build
        working-directory: ./frontend
        run: npm run build -- --configuration production frontend

      # ✅ STEP الجديد المهم
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/dist
